.banner {
    padding: 50px;
    text-align: center;
    background-color:white;
    font-size: 15px;
    border-radius: 20px;
}

body {
    background-color:palegreen;
}

h1 {
    color:forestgreen;
    margin-top: 12px;
    margin-bottom: 12;
}

p {
    color: forestgreen;
    font-size: 12;
}

u {
    color: forestgreen;
}

